# Gradle
.gradle/
build/
app/build/
build-cache/

# Local config
local.properties
*.hprof
*.log

# Idea
.idea/
*.iml
*.ipr
*.iws
out/

# OS
.DS_Store
Thumbs.db

# Keystore
*.jks
*.keystore
*.p8
*.p12

# Env
.env
.env.local

# Node (if any)
node_modules/
